---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message -->
<h1> Cool CS quotes</h1>
<div>
    <p>"The most valuable acquisitions in a scientific or technical education are the general purpose mental tools which remain serviceable for a lifetime"</p>
</div>
<div>
    <p>"Computer Science is no more about computers as astronomy is about telescopes, It is about how we use them and what we find out when we do", <b>Edgar Dijkstra.</b></p>
</div>
<div>
    <p>"First law of Computer science:Every problem can be solved by yet another indirection", <b>Bjarne Stroustrup.</b> </p>
</div>
<div>
    <p>"Computer Science is a science of abstraction creating the right model for a problem and devising the appropriate mechanizable techniques to solve it",<b> Edgar Dijkstra.</b> </p>
</div>
<div>
    <p>"I do not fear computers, I fear the lack of them",<b> Isaac Asimov.</b> </p>
</div>
<div>
    <p>"The purpose of computing is insight, not number",<b> Richard Hamming.</b> </p>
</div>   
<div>
    <p>"A language that doesn't affect the way you think about programming is not worth knowing", <b> Alan Perlis.</b> </p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
