---
layout: layouts/base.njk
bodyClass: body-home
---
<!-- Delete this message -->
<div class="warning">
    <p> Some more stuff should go here</p>
</div>
<!-- Stop deleting -->

{{ content | safe }}
